body{
    height: 100vh;
    border:0px;
    padding: 30px;

}
.navbar{
    position: sticky;
    top:0;
    background-color: rgb(206, 254, 255);
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    height:40px;
    width:100%;
    top: 0;
    font-size: x-large;
    padding-bottom: 20px;
}

.subnavbar{
    display: flex;
    justify-content: center;
    padding: 30px;
    float: left;
    color:blue;
    text-align:center;
    padding: 14px;
    font-size: 17px;
    font-family: sans-serif;
}

.logo>img{
    padding-top: 20px;
    height: 50px;
    width:50px;
    border-radius: 6%;
    margin-right:100px;

}

.mainimg>img{
    width: 50%;
    height: 500px;
    padding-top: 100px;
    border-radius: 8%;
    padding: 20px;
    display:flex;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.subnavbar:hover{
    padding-top: 5px;
    background-color: rgb(165, 203, 227);
    font-weight: 400px;
    font-size: 25px;
    border-radius: 30px;
}

.readme{
    transform-origin: 0.4s;
    background-color: blue;
    border-radius: 25%;
    padding: 7px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.readme:hover{
    background-color:aquamarine;
    color:white;
}

.about>h1{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.description{
    font-size: x-large;
    text-align: center;
}

.brief>img1>img2>img3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about{
    padding-bottom: 100px;
    display: grid;

}

.head1{
    grid-row: 1/3;
    grid-column: 1/5;
}

.works{
    background-color: rgb(183, 255, 255);
    height: 1000px;
    
}

.img1{
display: flex;
align-items: baseline;
}

.img2{
display: flex;
align-items: baseline;
}

.img3{
display: flex;
align-items: baseline;

}

.head1{
    display: flex;
    align-items: end;
}

.head2{
    display: flex;
    align-items: end;
}

.head3{
    display: flex;
    align-items: end;
}

.works{
    text-align: center;
    height:fit-content;
    padding-bottom: 60px;
    padding-top: 60px;
}

.eligibility{
    display: flex;
    align-items: center;
    background-color: aliceblue;
    padding: 20px;
    height: 100px;
    
}

.vehicle{
    display: flex;
    align-items: center;
    background-color: aliceblue;
    padding: 20px;
    height: 100px;
}

.approval{
    display: flex;
    align-items: center;
    background-color: aliceblue;
    padding: 20px;
    height: 100px;
}

.disbursal{
    display: flex;
    align-items: center;
    background-color: aliceblue;
    padding: 20px;
    height: 100px;
}

.row{
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-left: 5px;
    margin-right: 5px;
    
}

.column{
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-left: 5px; 
    margin-top:5px;
    margin-right: 5px;
}

.areas{
    padding-top: 100px;
}
.clients>h1{
    padding-top: 100px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.mahindra{
    padding:10px;
    margin:10px;
}

.testimonals>img{
    display: flex;
    border-radius: 50%;
    justify-content:end;
    margin-top:150px;
    margin-left:46%;
    width:100px;
}

.testimonals>h1{
    text-align: center;
    padding-top: 50px;
}

.testimonals>p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}

.contactus>h1{
    text-align: center;
    padding-top: 100px;

}